*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
.container{
    height: 100%;
    width: 100%;
}
.navbar-menu{
    display: flex;
    justify-content: center;
    background-color: #c95353;
    padding: 10px;
}
.unordered-header-list{
    width: 70%;
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    list-style: none;
    margin-right: 20px;
    overflow: auto;
}
.links{
    text-decoration: none;
    color: black;
}
.menu-bar-logo{
    height: 14px;
    margin-left: 50px;
}
.main-container{
    height: 100vh;
    padding-left: 30px;
    display: flex;
    font-family:Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #c9c181,#c687d6);
}
.left-main-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-right: 30px;
    overflow: auto;
}
.main-heading{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 30px;
}
.main-paragraph{
    font-size: 14px;
}
.button{
    margin-top: 30px;
    color: #ffffff;
    background-color:  #c95353;
    font-size: 14px;
    padding: 8px 30px 8px 30px;
    border: none;
    cursor: pointer;
}
.right-main-container{
    width: 50%;
}
.right-food-image{
    height: 100%;
    width: 100%;
}
.botton-container{
    height: 100vh;
    background: linear-gradient(to right, #c9c181,#d5a2e1);
    display: flex;
    align-items: center;
    margin-top: 1%;
    padding-left: 30px;
}
.bottom-left-container{
    display: flex;
    height: 65vh;
}
.bottom-left-first-container{
    display: flex;
    flex-direction: column;
}
.bottom-left-first-image{
    height: 48%;
    width: 22vw;
    margin-right: 10px;
    padding-bottom: 10px;
}
.bottom-left-second-image{
    height: 100%;
    width: 22vw;

}
.bottom-right-container{
    width: 30vw;
    height: 20vh;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    font-family:Arial, Helvetica, sans-serif;
    background-color: #c95353;
}
.bottom-paragraph{
    font-size: 16px;
    margin-bottom: 10px;
}
.bottom-heading{
    font-size: 28px;
    margin-bottom: 10px;
}
.bottom-click-container{
    color: black;
    background-color:  transparent;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 12px;
    border: none;
    cursor: pointer;
}
.arrow-image{
    height: 12px;
    padding-left: 5px;
}
@media (min-width: 768px) and (max-width: 992px) {
    .menu-bar-logo {
        margin-left: 25px;
    }
    .main-heading{
        font-size: 28px;
        margin-bottom: 30px;
    }
    .main-paragraph{
        font-size: 14px;
    }
    .button{
        margin-top: 30px;
        font-size: 14px;
    }
    .bottom-paragraph{
    font-size: 13px;
    margin-bottom: 10px;
    }
    .bottom-heading{
        font-size: 20px;
        margin-bottom: 10px;
    }
    .bottom-click-container{
        font-size: 13px;
    }
    .arrow-image{
        height: 13px;
        padding-left: 5px;
    }
}
@media (max-width: 767px) {
    .menu-bar-logo {
        margin-left: 10px;
    }
    .main-heading{
        font-size: 25px;
        margin-bottom: 30px;
    }
    .main-paragraph{
        font-size: 12px;
    }
    .button{
        margin-top: 20px;
        font-size: 12px;
    }
    .bottom-paragraph{
        font-size: 12px;
        margin-bottom: 10px;
    }
    .bottom-heading{
        font-size: 18px;
        margin-bottom: 10px;
    }
    .bottom-click-container{
        font-size: 12px;
    }
    .arrow-image{
        height: 12px;
        padding-left: 5px;
    }
}
